

mat-list-item {
  height: auto!important;
  padding: 15px 0!important;

  .poster-container {
    width: 10%;
    display: flex;
    justify-content: center;
  }
  img.thumb {
    height: 50px!important;
  }
}

.container {
  align-items: center;
}
.spacer {
  flex: 1;
}

.container.full-page {
  flex-flow: column;
  .col-full {
    height: calc(100vh - 85px);
    width: 100%;
  }
}


.savedmovie {
  border: 1px solid #00e676;
}

.mat-card.poster-card {
  min-height: auto;
  height: 318px;
  width: 218px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  box-sizing: border-box;
}

.mat-card {
  background: #151515 !important;
  min-height: calc(100vh - 120px)!important;
  margin-bottom: 0px;

  mat-card-actions {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    background: #151515 !important;
  }
}
mat-list-item {
  padding: 0!important;
}
mat-list-item:hover {
  .movie-title {
    color: #0b0b0b;
  }
}


.search-form {
  width: 75vw;
  max-width: 750px;
  margin: auto;
  display: flex;
}

.movie-title {
  flex: 1;
  max-width:75%;
  margin: 0 12px;
  text-align: center;
  color: #202020;
}


@media only screen and (min-width: 800px) {
  .movie-title {
    font-size: 3em;
  }
}

@media only screen and (min-width: 1200px) {
  .movie-title {
    font-size: 5em;
  }
}


.liked-item-overlay {
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #00e676;
  top: 0;
  bottom: 0;
}
