
<div class="container">
  <div class="col-12">
    <mat-card>
      <form (ngSubmit)="onSearch()" [formGroup]="searchForm" class="search-form">
        <mat-form-field style="width: 75%; margin: 0 10px;">
          <mat-label>search</mat-label>
          <input matInput type="text" formControlName="search">
        </mat-form-field>

        <button style="width: 25%" mat-flat-button *ngIf="searchResults$ | async" (click)="paginate()" color="primary">search</button>
      </form>

      <mat-card-content>
        <mat-list *ngIf="(searchResults$ | async)?.length && show">
          <mat-list-item *ngFor="let data of searchResults$ | async">
            <div class="liked-item-overlay" *ngIf="(saved$ | async)?.indexOf(data.imdbID) > -1"></div>

            <div class="poster-container">
              <img [src]="data.Poster" class="thumb">
            </div>

            <h3 style="flex: 1 1 auto">{{data.Title}}</h3>
            <button mat-icon-button class="full-width" [routerLink]="'/search/' + data.imdbID"> <mat-icon>zoom_out_map</mat-icon> </button>
            <button mat-icon-button class="full-width" (click)="saveMovie(data.imdbID)"> <mat-icon>thumbs_up_down</mat-icon> </button>
          </mat-list-item>
        </mat-list>

      </mat-card-content>

        <mat-card-actions *ngIf="(searchResults$ | async)?.length && show">
          <button mat-icon-button (click)="paginate()" color="primary"><mat-icon>arrow_back</mat-icon></button>
          <button mat-icon-button (click)="paginate()" color="primary"><mat-icon>arrow_forward</mat-icon></button>
        </mat-card-actions>
    </mat-card>
  </div>
</div>

